@page "/"

<PageTitle>The Weaving Process</PageTitle>

<h1>The Weaving Process</h1>
<p>The Process of weaving is a lot longer than one might imagine. In every item, there are hundreds if not thousands of threads that must be carefully placed. Join us in the journey as we follow the creation of a beautiful scarf.</p>
<div class="container">
    <h2>Setup</h2>

    <div class="d-flex flex-row">
        <div class="p-5 w-25">The process of weaving starts with measuring each thread that will go on the loom to the appropriate length. We are measuring a length of threads known as the warp.</div>
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/MeasureWarp.JPG" alt="a photo of measuring the threads that will go on the loom" /></div>
    </div>

    <div class="d-flex flex-row">
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/WindingOn.JPG" alt="a photo of wrapping the warp threads around a wooden beam at the back of the loom in preparation to weave" /></div>
        <div class="p-5 w-25">Once the warp threads are measured, they are tightly wound around a wooden beam at the back of the loom so they can be tightly held in place during the weaving process.</div>
    </div>

    <div class="d-flex flex-row">
        <div class="p-5 w-25">Next, each thread must be carefully passed through a heddle, which has a small hole to hold the thread in place. Here, the way the colors are placed affects the pattern of the fabric.</div>
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/CloseupOfHeddles.JPG" alt="a photo of threading each heddle" /></div>
    </div>

    <div class="d-flex flex-row">
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/ThreadReed.JPG" alt="a photo of threading the reed" /></div>
        <div class="p-5 w-25">Hedles can easily bend and break.The thread is now passed through a much stronger slot in what is known as a Reed. This ensures each of the threads are an equal distance apart from each other.</div>
    </div>

    <div class="d-flex flex-row">
        <div class="p-5 w-25">Finally, each bundle of threads is securely tied to a rod in front of the reed. At last, we are ready to begin weaving.</div>
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/TyingOn.JPG" alt="a photo of tying warp threads to begin weaving" /></div>
    </div>

    <div class="d-flex flex-row">
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/ShuttleThroughThread.JPG" alt="a photo of threading each heddle" /></div>
        <div class="p-5 w-25">The actual weaving process involves passing a thread back and forth perpendicularly between the warp threads, thus accomplishing the over-under-over pattern (and other patterns) typically associated with weaving.</div>
    </div>

    <div class="d-flex flex-row">
        <div class="p-5 w-25">When the weaving process is finished, we cut the fabric off the loom and hem it or tie a fringe accordingly. In the case of this scarf, each knot in the fringe is carefully tied.</div>
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedPhotos/Knots.JPG" alt="a photo of tying knots in the fringe of a scarf" /></div>
    </div>

    <div class="d-flex flex-row">
        <div class="figure-img p-5 w-50"> <img class="img-fluid" src="FinishedDrape/ShuttleThroughThread.JPG" alt="a photo of the finished scarf" /></div>
        <div class="p-5 w-25">After washing and any additional small alterations, the scarf is finished!</div>
    </div>

    <div class="d-flex flex-row-reverse">
        <div class="p-2">Flex item 1</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
    </div>

</div>


<h2>Weaving</h2>

<h2>Taking it off the loom</h2>

@* section {
  display: flex;
  flex-direction: column;
  background-color: orange;
  margin: 10px;
  padding: 7px;
} *@

